*{
    font-family: sans-serif;
}

.bg-primary{
    background-color: #aee265 !important;
}
.btn-primary-custom{
    background-color: hsl(85deg 68% 64%);
    border: 1px solid hsl(85deg 68% 64%);
    border-radius: 16px !important;
    color: #000;
        padding: 4px 21px !important
}
.font-weight-600{
    font-weight: 600;
}
.navbar{
height: 30px;
}
.font-13{
    font-size: 13px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}

.btn-secondary{
    color: #000005c2;
    background-color: #ffffff !important;
    border-color: #aee265 !important;
    padding: 5px 11px;
    font-size: 14px;
}
.btn-secondary:hover, .btn-secondary:focus{
    background-color: #aee265 !important;
    border-color: #aee265 !important;
    color: #000005c2;
 
}
.nav-2 h4{
    color: hsl(85deg 68% 64%);
    letter-spacing: 9px;
    font-family: fantasy;
    font-size: 32px;

}
.btn-success-custom{
    font-size: 13px;
    padding: 4px 17px;
    border-radius: 44px;
    background: #aee265;
    color: #000000c7;
    border-color: #aee265;
}
.btn-success-custom:hover{
    background: #aee265;
    
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background: #e6ffc4;
    color: #000;
    border-color: hsl(85deg 68% 64%);

}
.navbar-light .navbar-nav .nav-link{
    color: #000 !important;
}

#navbarNavDropdown a {
    color: #000;
}
.nav-3 a {
    color: #6f8294;
    font-size: 14px;
}

.nav-3 a{
    color:#6f8294;

}
.nav-3 a.nav-link.active {
    background: #aee265 !important;
    color: #000000bf;
}

.btn-primary-custom:hover, .btn-primary-custom:focus{
    background: #e6ffc4;
    color: #000;
    border-color: hsl(85deg 68% 64%);

}

.text-orange{
color: #cd6133;
}
.bg-dark-custom{
    background-color: hsl(85deg 68% 64%) !important;
}

.section-1 {
    background-image: url(../images/fruit-bg-image.jpg);
    height: 499px;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 160px 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ccc;
}
.section-1 .welcome-text{
    color: #000;
    left: 20px;
}
.section-1 .text-1{
    font-family: cursive;
    font-size: 24px;
}
.section-1 .text-2{
    font-family: cursive;
    font-size: 27px;
    
}
.section-2 h4{
    font-family: cursive;
    color: #000000b8;
}
.img-sec{ 
    display: inline-block;
    padding: 11px;
    background: hsl(85deg 68% 64%);
    border-radius: 50%;
}
.about-us-wrapper p{
 max-width: 1200px;
}
.card-sec4{
    background: hsl(87deg 100% 93%);
    border-radius: 3px;
}

.card-style{
    border: none;
  
}

.fruit-box{
    text-align: center;
    padding: 34px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.fruit-color1{
    background: hsl(43deg 96% 90%);

}
.fruit-color2{
    background: hsl(235deg 60% 96%)

}
.fruit-color3{
    background: hsl(56deg 97% 87%);

}
.fruit-color4{
    background: hsl(64deg 100% 89%);
}
.fruit-color5{
    background: hsl(353deg 82% 96%);

}
.fruit-color6{
    background: hsl(69deg 100% 92%);

}
.fruit-color7{
    background: hsl(55deg 91% 87%);

}
.fruit-color8{
    background: hsl(0deg 93% 94%);
}

.veg-color1{
    background: hsl(76deg 96% 90%);
}
.veg-color2{
    background: hsl(64deg 92% 91%);
}
.veg-color3{
    background: hsl(276deg 83% 95%);
}
.veg-color4{
    background: hsl(43deg 96% 90%);
}
.veg-color5{
    background: hsl(73deg 100% 92%);
}
.veg-color6{
    background: hsl(88deg 79% 91%);
}
.veg-color7{
    background: hsl(49deg 88% 90%);
}
.veg-color8{
    background: hsl(76deg 96% 90%);
}
/* .card:hover{
    transform: scale(1.05);
    transition: 0.2s linear;
}

.card:not( :hover ){
    transform: scale(1);
    transition: 0.2s linear;
} */
.section-1 p {
    max-width: 861px;
    margin: 18px auto;
    color: #cdd7d7;
    font-style: oblique;
}

.card-text{
    font-size: 14px;
    color: #807a7a;
}

.font-18{
    font-size: 18px;
}

.contact-us {
    font-size: 14px;
	padding: 45px 0;
}
.contact-us .icon{
    font-size: 18px;
    /* padding: 7px 12px; */
    width: 39px;
    height: 39px;
    padding: 6px 12px;
}

.contact-us iframe{
    box-shadow: 1px 1px 5px #827e7ea3;

}
footer{
    padding: 35px 0;
    background-color: #efffdb;
}
footer a{
    color: #000000b8
}
footer p{
    margin-bottom: 10px;
    font-size: 15px;
}
